*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    background-color: #dadadaa6;
}

.img1{
    position: relative;
}

.banner-title{
    position: absolute;
    top: 40%;
    left: 7%;
    font-size: 50px;
}

.banner-para{
    position: absolute;
    top: 50%;
    left: 7%;
    font-size: 25px;
}

.bg-img-1{
    background-image: url(images/02.jpeg);
}

.bg-img-2{
    background-image: url(images/03.jpg);
}

.bg-img-3{
    background-image: url(images/04.webp);
}

.carousel-image{
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*------------------------------------------------ testimonial start--------------------------------- */

.home-testimonial{
    background-color: #231834;
    height: 380px
}
.home-testimonial-bottom{
    background-color: #f8f8f8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px
}
.home-testimonial h3{
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase
}
.home-testimonial h2{
    color: white;
    font-size: 28px;
    font-weight: 700
}
.testimonial-inner{
    position: relative;
    top: -174px
}
.testimonial-pos{
    position: relative;
    top: 24px
}
.testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 40px
}
.color-grey-3{
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}
.testimonial-inner img.tm-people{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}
.link-name{
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}
.link-position{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}

/*------------------------------------------------ testimonial End--------------------------------- */





@media only screen and (max-width:600px){

    .carousel-image{
        height: 300px;
    }

    .banner-title{
        position: absolute;
        margin-top: -150px;
        font-size: 25px;
    }

    .banner-para{
        position: absolute;
        margin-top: -180px;
        font-size: 11px;
    }
}

@media screen and (min-width:600px) and (max-width:768px){

    .carousel-image{
        height: 450px;
    }

    .banner-title{
        position: absolute;
        margin-top: -100px;
        font-size: 33px;
    }

    .banner-para{
        position: absolute;
        margin-top: -110px;
        font-size: 20px;
    }
}

@media screen and (min-width:768px) and (max-width:992px){

    .carousel-image{
        height: 550px;
    }

    .banner-title{
        position: absolute;
        margin-top: -50px;
        font-size: 40px;
    }

    .banner-para{
        position: absolute;
        margin-top: -55px;
        font-size: 25px;
    }
}